.container {
  position: relative;
}

.input {
  box-sizing: border-box;
  border: 1px solid;
  height: 25px;
  width: 200px;
}

.items {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 200px;
  position: absolute;
  top: 24px;
  border: 1px solid;
}

.itemsHidden {
  display: none;
}

.item {
  padding: 5px;
}

.itemSelected {
  font-weight: bold;
  background-color: salmon;
}

.itemHover {
  background-color: violet;
}
